.swiper {
  width: 100%;
  max-width: 1300px;   /* ancho máximo del carrusel */
  height: 550px;      /* altura fija para las imágenes */
  margin: 0 auto;     /* centrar horizontalmente */
  background-color: #000; /* fondo negro opcional */
  padding: 8px ;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 3px;
}

.img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.containerText{
  padding: 10px 15px;
  margin: 10px auto;
}

.text{
  width: 88%;
}

.swiper-button-next, .swiper-button-prev{
  color: #fff;
  background-color: rgba(0,0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  z-index: 10;
}

.trailer{
  align-self: center;
  margin-top: 199px;
}

.trailer:hover{
  cursor: pointer;
}

.link{
  width: 70%;
}


@media (max-width: 810px){
  .swiper{
    height: auto;
    min-height: 600px;
  }
  .slide{
    flex-direction: column;
    padding-top: 20px;
  }
 
  .containerText{
    text-align: center;
    margin: 0;
  }
}