


.swiper-button-next, .swiper-button-prev {
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 10; 
    cursor: pointer;
    position: absolute; 
}

.swiper-button-next {
    right: 10px; /* Posiciona la flecha de la derecha */
    top: 50%; /* Centra la flecha verticalmente */
    transform: translateY(-50%); /* Ajusta la posición exacta */
}

.swiper-button-prev {
    left: 0px; /* Posiciona la flecha de la izquierda */
    top: 50%; /* Centra la flecha verticalmente */
    transform: translateY(-50%); /* Ajusta la posición exacta */
    transform: rotate(180deg);
}

.mySwiper {
    position: relative; /* Asegura que las flechas se posicionen dentro del carrusel */
}

/* Aumentar el tamaño de las flechas para que sean más visibles */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 30px; /* Tamaño de las flechas */
    font-weight: bold; /* Hacer las flechas más visibles */
}


