.swiper {
  width: 100%;
  max-width: 1300px;   /* ancho máximo del carrusel */
  height: 550px;      /* altura fija para las imágenes */
  margin: 0 auto;     /* centrar horizontalmente */
  background-color: #000; /* fondo negro opcional */

}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}
