
.companiesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.companies{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.name{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 6px;
}