
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 40px;
    padding: 20px;
    justify-content: center;
}

@media(max-width: 560px){
    .container{
        display: flex;
        flex-direction: column;
    }
    
}