@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 40px;
  padding: 20px;
  justify-content: center;
}
.buscador {
  margin: 10px 7%;
  height: 20px;
  width: 100%;
  color: rgb(6, 1, 1);
  opacity: 1;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.pelicula {
  color: #fff;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  max-width: 80%;
  margin: 0 10px;
}
.buscar{
    background: transparent;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
.buscar:focus {
  border-color: #6c63ff;
  color: #fff;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.2);
}

.buscar::placeholder{
    color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.buscar:hover {
  cursor: pointer;
}


@media (max-width: 560px) {
  .container {
    display: flex;
    flex-direction: column;
  }
    .buscardor{
    margin: auto;
    
    }

}
