
.containerTitle{
    font-size: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #000;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
}

.titlePage{
    letter-spacing: 12px;
    animation: glow 3s ease-in-out infinite alternate ;
    
}

.containerTitle span:nth-child(1){animation-delay: 0s;}
.containerTitle span:nth-child(2){animation-delay: 0.3s;}
.containerTitle span:nth-child(3){animation-delay: 0.6s;}
.containerTitle span:nth-child(4){animation-delay: 0.9s;}
.containerTitle span:nth-child(5){animation-delay: 1.2s;}
.containerTitle span:nth-child(6){animation-delay: 1.4s;}
.containerTitle span:nth-child(7){animation-delay: 1.5s;}
.containerTitle span:nth-child(8){animation-delay: 1.8s;}
.containerTitle span:nth-child(9){animation-delay: 2.1s;}
.containerTitle span:nth-child(10){animation-delay: 2.4s;}
.containerTitle span:nth-child(11){animation-delay: 2.7s;}
.containerTitle span:nth-child(12){animation-delay: 3s;}


@keyframes glow{
    from{
        text-shadow:
        0 0 10 px #4ff,
        0 0 15 px #4ff,
        0 0 20px #4ff;
        opacity: 0.3;
    }
    to{
        text-shadow: 
         0 0 15px #4ff,
         0 0 20px #4ff,
         0 0 40px #4ff,
         0 0 60px #4ff;
         opacity: 1;
    }

}

@media (max-width: 810px){
    .titlePage{
        font-size: 20px;
    }
}