*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
    color: white;

}

.title{
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  color: #9F91FE;
}